
.body, ul {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #bec0c4;
    height: 50px;
    width: 100%;
}

.container ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 90%;
    height: 100%;
}